

.jumbotron{
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #93d6ec, #b1bfc2, #5a5c79) ;
    color: white;
    background-image: url("./img/beige.jpg");
}

.carousel-inner img{
    object-fit: cover;
    background-size: contain;
    width: 100%;
    height: 700px;
    filter: brightness(80%)
}

.classmed{
color: white;
border-left: solid 2px;


}
.medcont{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Medellin/la-piedra-del-penol-guatapae-1200x900.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.sancont{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/San-andres/san-andres2.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.cartcont{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Cartajena/foto\ grande\ AL\ DIA_15.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}