body {
    font-family: "Open Sans", "sans-serif";
}

/* ---- Navbar---- */
nav{
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.21);
}

.dropdown-menu{
    top: 40px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.21);
}

.dropdown-item:hover{
    background: rgba(0, 0, 0, 0.2);
}
.dropdown-dark{
    background: rgba(0, 0, 0, 0.6) !important;
}

.nav-active {
    background: rgba(0, 0, 0, 0.6) !important; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

/* ---- /Navbar---- */
/*------Main Page------------*/
/* ---- Carousel---- */


  
.zoomIn {
    transform: scale(1.2);
  }

.carousel-iner-main img{
    object-fit: cover;
    background-size: contain;
    width: 100%;
    height: 100vh;
    transition: transform 5s;
}
.carousel-caption-main{
    margin-bottom: 35vh;
}
.carousel-caption-main h1{
    font-family: 'Carattere', cursive;
    font-size: 4rem;
    text-shadow: 2px 2px 4px #000000;
}
.firma{
    font-family: 'Carattere', cursive;
    font-size: 1.3rem;
    text-shadow: 2px 2px 4px #000000;
}
.firma:hover{
    text-decoration: none;
}

.logo{
    font-family: 'Carattere', cursive;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px #000000; 
}

.carousel-iner-main button{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

/* ---- /Carousel---- */


/* ---- Main Jumbotron---- */
.jumbotron-main{
    margin-top: 0px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/San-andres/excursion-punta-cana-snorkeling.jpg");
    box-shadow: 0px 100px 100px rgba(102, 222, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jumbtext h1{
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000000;
}
.jumbrow{
    height: 60vh;
}
/* ---- /Main Jumbotron---- */


/* ---- Carousel Secondary---- */
.carousel-inner2 img, .carousel-inner3 img{
    object-fit: cover;
    background-size: contain;
    width: 450px;
    height: 300px;
    filter: brightness(80%);
    border-radius: 10px;
}
.carousel-inner2, .carousel-inner3{
    object-fit: cover;
    background-size: contain;
    width: 450px;
    height: 300px;
    border-radius: 10px;
}
#carrusel1{
    position: relative;
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);

}
.ove:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    filter: brightness(150%);
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease; 
}
.media2{
    width: 450px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.8);
}
/* ---- /Carousel Secondary---- */

/*--- Horizontal section-- */
    .classmed{
    color: white;
    border-left: solid 2px;
    }
    .cartcont{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Cartajena/foto\ grande\ AL\ DIA_15.jpg");
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        text-shadow: 2px 2px 4px #000000;
        box-shadow: 20px 20px 20px rgba(89, 90, 90, 0.4);
    }
    .medcont{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Medellin/la-piedra-del-penol-guatapae-1200x900.webp");
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        text-shadow: 2px 2px 4px #000000;
    }
    .sancont{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/San-andres/san-andres2.webp");
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        text-shadow: 2px 2px 4px #000000;
        
        
    }
    .medcont:hover, .sancont:hover, .cartcont:hover {
        filter: brightness(150%);
        transition: all 3s ease;
        -moz-transition: all 3s ease;
        -o-transition: all 3s ease;
        -ms-transition: all 3s ease;
        transition: all 3s ease;
        transform: scale(1.1);
   
        
    }
    .button-costume{
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    }

 /*---/ Horizontal section-- */

 .divinstagram{
    margin-top: 200px;
 }

/*--- footer-- */
    .site-footer {
        margin-top: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: linear-gradient(.25turn, #2a3f78, #4f5d81);
        color: white;
    }

/*--- footer-- */



  /*------ /Main Page------------*/

    /*------ About Us------------*/
    .jumb-aboutus{
        margin-top: 0px;
        color: black;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/AboutUs/top-view-landscape-beautiful-tropical-sea-summer-season-image-by-aerial-view-drone-shot-high-angle-view_34362-559.jpg");
        box-shadow: 0px 100px 100px rgba(102, 222, 241, 0.1);
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px
    }
    .img-aboutus-grup{
        height: 300px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
    }
    .cont-team{
        margin-top: 0px;
        color: black;
        background-image: linear-gradient(.25turn, #dde1ec, #eef0f2);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
    }
    .customers-review{
        background-image: linear-gradient(.25turn, #ededed, #f9f9f9);
    }
    .card-team{
        box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
    }

    .div-img-facility{
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(89, 90, 90, 0.4);
        overflow: hidden;
        width: 500px;
        height: 350px;
    }
    .img-facility{
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    .img-facility:hover{
        transform: scale(1.2);
        transition: transform 5s;
        
    }

    .iframe-maps{
        width: 560px;
        height: 350px;
        border: none;
    }
    /*------ /About Us------------*/

/*------ Medellin------------*/
.jumb-medellin{
    margin-top: 0px;
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/Medellin/downtown-medellin-colombia.webp");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
}

.img-medellin-info{
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
    object-fit: cover;
}
.cont-med-img{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/Medellin/downtown-medellin-colombia.webp");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
}
.cont-med-img h1, .cont-med-img-guatape h1{
    font-family: 'Carattere', cursive;
    font-size: 4rem;
    text-shadow: 2px 2px 4px #000000;
}
.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.city-tour-img{
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
    border-radius: 10px;
    object-fit: cover;
    width: 500px;
    height: 300px;
    filter: brightness(80%); 
}

.media-custom{
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.8);
}

.carousel-custom:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    filter: brightness(150%);
    transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease; 
    transform: scale(1.1);
}

.cont-med-img-guatape{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/Medellin/Diego-Vista-aerea-Guatape.jpg");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
}
.button-custom{
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
}


.youtubecard{
   
    border-radius: 10px;
}
.youtubecard img{

    border-radius: 10px;
}
/*------ /Medellin------------*/

/*------ San Andres ------------*/
.jumb-sanandres{
    margin-top: 0px;
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/San-andres/San-andres.webp");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left;
}

.img-medellin-info{
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
}

.cont-sanandres-img{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/San-andres/san-andres-colombia-03.jpg");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    display:flex;
    justify-content:center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 100px;
}
.cont-sanandres-img h1, .cont-jhonykay-img h1{
    font-family: 'Carattere', cursive;
    font-size: 4rem;
    text-shadow: 2px 2px 4px #000000;
}
.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.cont-jhonykay-img{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/San-andres/la-Isla-de-San-Andres-Colombia.jpg");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
}
.button-custom{
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
}
/*------ /San Andres------------*/

/*------ Cartagena ------------*/
.jumb-cartagena{
    margin-top: 0px;
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("./img//Cartajena/81.jpg");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center;
}

.img-medellin-info{
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
}

.cont-cartagena-img{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/Cartajena/ca-times.brightspotcdn.com_.jpg");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    display:flex;
    justify-content:center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 100px;
}
.cont-cartagena-img h1, .cont-rosario-img h1{
    font-family: 'Carattere', cursive;
    font-size: 4rem;
    text-shadow: 2px 2px 4px #000000;
}
.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.cont-rosario-img{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./img/Cartajena/Islas_del_Rosario.jpg");
    box-shadow: 0px 100px 100px rgba(102, 120, 241, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
}
.button-custom{
    box-shadow: 10px 10px 10px rgba(89, 90, 90, 0.4);
}
/*------ /Cartagena------------*/


/*------ Movile view------------*/

@media (max-width: 640px) {
    .jumbtext h1{
      font-size: 2rem;
    }
    nav{
        background: rgba(0, 0, 0, 0.6);
    }
    
    .dropdown-menu{
        background: rgba(0, 0, 0, 0.6);
    }
    .carousel-inner2, .carousel-inner3{
        width: 350px;
        height: 210px;
    }
    .media2{
        width: 350px;
        height: 210px;

    }
    .img-aboutus-grup{
        height: 210px;
    }

    .media-custom{
        width: 360px;
        height: 220px;

    }
    .city-tour-img{

        width: 360px;
        height: 220px;
    }
    .cont-med-img, .cont-med-img-guatape, .cont-sanandres-img, .cont-jhonykay-img, .cont-cartagena-img, .cont-rosario-img{
        background-attachment:scroll;

    }

  }



  /*------ /Movile view------------*/